.arrow{
    transform: rotate(90deg);
}
img.fancybox-image{    
    width: 700px;
    height: 500px;    
    margin-left: -200px;
    margin-top: -150px;
    
}
.padrinhos{
    

    max-width: 550px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.padrinhos h1{
    font-family: 'Indie Flower', cursive;
    margin-top: 100px;
    max-height: 100px;
  
    display: flex; 
    flex-direction: column;   
    justify-content: center;
    text-align: center;
}

.polaroid img{
   filter: drop-shadow(0 0 0.75rem black);
}

/* .portada{
    background: local;
    background: url(/img/capa/daniedu.png) no-repeat !important ;
    
} */

